NET GPIO_COMPSW<0> LOC="AJ6";
NET GPIO_COMPSW<0> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<1> LOC="AK7";
NET GPIO_COMPSW<1> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<2> LOC="U8";
NET GPIO_COMPSW<2> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<3> LOC="V8";
NET GPIO_COMPSW<3> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<4> LOC="AJ7";
NET GPIO_COMPSW<4> IOSTANDARD="LVCMOS33";

NET GPIO_LED<0> LOC="H18";
NET GPIO_LED<0> IOSTANDARD="LVCMOS25";
NET GPIO_LED<1> LOC="L18";
NET GPIO_LED<1> IOSTANDARD="LVCMOS25";
NET GPIO_LED<2> LOC="G15";
NET GPIO_LED<2> IOSTANDARD="LVCMOS25";
NET GPIO_LED<3> LOC="AD26";
NET GPIO_LED<3> IOSTANDARD="LVCMOS25";
NET GPIO_LED<4> LOC="G16";
NET GPIO_LED<4> IOSTANDARD="LVCMOS25";
NET GPIO_LED<5> LOC="AD25";
NET GPIO_LED<5> IOSTANDARD="LVCMOS25";
NET GPIO_LED<6> LOC="AD24";
NET GPIO_LED<6> IOSTANDARD="LVCMOS25";
NET GPIO_LED<7> LOC="AE24";
NET GPIO_LED<7> IOSTANDARD="LVCMOS25";


########################################
#VGA
########################################
NET  VGA_IN_DATA_CLK        LOC="AH18";
NET  VGA_IN_HSOUT           LOC="AE7";
NET  VGA_IN_VSOUT           LOC="Y6"; 
NET  VGA_IN_BLUE<0>         LOC="AC4";
NET  VGA_IN_BLUE<1>         LOC="AC5";
NET  VGA_IN_BLUE<2>         LOC="AB6";
NET  VGA_IN_BLUE<3>         LOC="AB7";
NET  VGA_IN_BLUE<4>         LOC="AA5";
NET  VGA_IN_BLUE<5>         LOC="AB5";
NET  VGA_IN_BLUE<6>         LOC="AC7";
NET  VGA_IN_BLUE<7>         LOC="AD7";
NET  VGA_IN_GREEN<0>        LOC="Y8"; 
NET  VGA_IN_GREEN<1>        LOC="Y9"; 
NET  VGA_IN_GREEN<2>        LOC="AD4";
NET  VGA_IN_GREEN<3>        LOC="AD5";
NET  VGA_IN_GREEN<4>        LOC="AA6";
NET  VGA_IN_GREEN<5>        LOC="Y7"; 
NET  VGA_IN_GREEN<6>        LOC="AD6";
NET  VGA_IN_GREEN<7>        LOC="AE6";
NET  VGA_IN_RED<0>          LOC="AG5";
NET  VGA_IN_RED<1>          LOC="AF5";
NET  VGA_IN_RED<2>          LOC="W7"; 
NET  VGA_IN_RED<3>          LOC="V7"; 
NET  VGA_IN_RED<4>          LOC="AH5";
NET  VGA_IN_RED<5>          LOC="AG6";
NET  VGA_IN_RED<6>          LOC="Y11";
NET  VGA_IN_RED<7>          LOC="W11";

NET  VGA_IN_DATA_CLK        IOSTANDARD="LVCMOS33";
NET  VGA_IN_HSOUT           IOSTANDARD="LVCMOS33";
NET  VGA_IN_VSOUT           IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<0>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<1>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<2>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<3>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<4>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<5>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<6>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_BLUE<7>         IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<0>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<1>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<2>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<3>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<4>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<5>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<6>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_GREEN<7>        IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<0>          IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<1>          IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<2>          IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<3>          IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<4>          IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<5>          IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<6>          IOSTANDARD="LVCMOS33";
NET  VGA_IN_RED<7>          IOSTANDARD="LVCMOS33";

NET  "USER_CLK"             LOC="AH15";
NET  "USER_CLK"             IOSTANDARD=LVCMOS33;
NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 10.0 ns HIGH 50%;

NET "VGA_IN_DATA_CLK" TNM_NET = VGA_IN_DATA_CLK;
TIMESPEC TS_VGA_IN_DATA_CLK = PERIOD "VGA_IN_DATA_CLK" 15.0 ns HIGH 50%;

